@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}