@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: white;
}

a {
    text-decoration: none;
}

.sources {
    background: #B7391E;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 6px #B7391E;
}

h3 {
    text-align: center;
    padding-bottom: 0.5rem;
    font-family: 'Righteous', cursive;
    color: #fff;
}

.sos p a {
    color: white;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Fugaz One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Righteous', cursive;
    font-size: 18px;
}

h2 {
    color: #B7391E;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Fugaz One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Righteous', cursive;
}

.articles {
    padding-top: 4rem;
}

.mage {
    width: 60%;
}

p {
    font-size: 20px;
    color: #000;
    line-height: 24px;
}

h4 {
    color: #B7391E;
    font-weight: 900;
}

.details p a {
    color: #B7391E;
}