<h1>bold</h1>

{% for articles in articles %}


<!-- <p> {{articles.title}}</p> -->

<div class="col-md-3">
    <div class="card mb-4">
        {% if articles.urlToImage %}
        <img src="{{ articles.urlToImage }}" class="card-img-top" alt="{{ articles.title }}"> {% endif %}

        <div class="card-body">
            <h6 class="">{{ articles.title }}</h6>
            <p class="card-text"><small>{{ articles.description}}...</small></p>
            <div class="d-flex justify-content-around">
                <div>
                    <p><strong><span class="badge rounded-pill bg-warning text-dark"><small>{{ articles.publishedAt
                                }}</small></span></strong>
                    </p>
                </div>
                <div class="text-center">
                    <a href="{{ articles.url }}" target="_blank" class="color-main"><small>Read More <i
                            class="fa fa-arrow-right"></i></small> </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}