<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tittle}}</title>
</head>

<body>

    <div class="sources m-2">
        <div class="card p-2">
            <h3 class="text-uppercase headings">top news sources</h3>
            <div class="row">
                <div class="col-md-6">

                    {% for general_news in general %}
                    <p>
                        {{general_news.name}}<br> {{general_news.url}}
                    </p>
                    {%endfor%}

                </div>
            </div>
        </div>
    </div>
</body>

</html>