{% extends "base.html" %} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"> {% endblock %}{% block content %}

<div class="sources m-2">
    <div class="card p-2">
        <h3 class="text-uppercase headings">Top News Sources</h3>
        <div class="row">


            {% for general_news in general %}
            <div class="col-md-2">
                <p>

                    <a target="_blank" href="{{general_news.url }}">{{general_news.name}}</a>
                </p>


            </div>
            {%endfor%}
        </div>
    </div>
</div>







<div class="clearfix">
    <div class="row">

        {% for articles in articles %}

        <div class="col-md-6 articles">

            {% if articles.urlToImage %}


            <img src="{{ articles.urlToImage }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="{{ articles.title }}">{% endif %}


            <h4 class="">{{ articles.title }}</h4>
            <p class="card-text"><small>{{ articles.description}}...</small></p>

            <div class="d-flex justify-content-around">
                <div>
                    <p><strong><span>{{ articles.publishedAt
                    }}</span></strong>
                    </p>
                </div>
                <div class="text-center">
                    <a href="{{ articles.url }}" target="_blank" class="color-main"><small>Read More <i
                class="fa fa-arrow-right"></i></small> </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}